<h1>Welcome to United Crafts of America</h1>
<p>A website dedicated to the craft brews in USA</p>
<p>Testing associations...</p>

<%= State.find(Brewery.all.first.state_id).breweries.first.name %>

<%= Style.find(Beer.all.first.style_id).beers.first.name %>