<h1>Welcome to United Crafts of America</h1>
<p>A website dedicated to the craft brews in USA</p>

<h2>Number of craft beers per head of population (population - scale 1:100000)</h2>
<ul>
<% @ratio.each do |k,v| %>
<li><%= k %>: <%= number_with_precision(v, precision: 3)%></li>
<% end %>
</ul>

